@using EasyTravel.Domain.Entites
@model IEnumerable<Photographer>
@{
    ViewData["Title"] = "Index";
}

<div class="entity-list">
    <h2>Photographer List</h2>
    <div class="heading-row">
        <span class="name">Name</span>
        <span>YearsOfExperience</span>
        <span>Rating</span>
        <span>HourlyRate</span>
    </div>
    @foreach (var pg in Model)
    {
        <div class="entity-row">
            <span class="name">@pg.FirstName</span>
            <span>@pg.YearsOfExperience</span>
            <span>@pg.Rating</span>
            <span>@pg.HourlyRate</span>

            <!-- Buttons Section -->
            <div class="actions">
                <a asp-area="Admin" asp-controller="" asp-action="" asp-route-id="@pg.Id" class="update-btn">Book</a>
            </div>
        </div>
    }
</div>
