@model Agency
@{
    ViewData["Title"] = "Index";
}

<div class="@Model-list">
    <h2>@Model List</h2>
    <div class="@Model-row">
        <span class="name">@Model.Name</span>
        <span>@Model.Address</span>
        <span>@Model.ContactNumber</span>
        <span>@(string.IsNullOrEmpty(@Model.Website) ? "N/A" : @Model.Website)</span>
        <span>@Model.LicenseNumber</span>
        <span>@Model.AddDate.ToString("yyyy-MM-dd")</span>

        <!-- Buttons Section -->
        <div class="actions">
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
        </div>
    </div>
</div>
