@model Guide
@{
    var action = ViewData["Title"];
    bool isDisabled = false;

    if ((string?)action == "Delete")
    {
        isDisabled = true;
    }
    var date = DateTime.Now.ToString();
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"] Guide</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"] Guide</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"] Guide</h3>
                </div>
                <form asp-antiforgery=true method="post" asp-action="@action" asp-controller="AdminGuide">
                    <div class="card-body">
                        <!-- First Name -->
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input asp-for="Email" class="form-control" type="email" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Contact Number -->
                        <div class="form-group">
                            <label for="ContactNumber">Contact Number</label>
                            <input asp-for="ContactNumber" class="form-control" type="number" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="LicenseNumber">LicenseNumber</label>
                            <input asp-for="LicenseNumber" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                        </div>
                        <!-- Address -->
                        <div class="form-group">
                            <label for="Address">Address</label>
                            <input asp-for="Address" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Profile Picture -->
                        <div class="form-group">
                            <label for="ProfilePicture">Profile Picture</label>
                            <input asp-for="ProfilePicture" class="form-control" type="text" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="LanguagesSpoken">LanguagesSpoken</label>
                            <input asp-for="LanguagesSpoken" class="form-control" type="text" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="LanguagesSpoken" class="text-danger"></span>
                        </div>
                        <!-- Bio -->
                        <div class="form-group">
                            <label for="Bio">Bio</label>
                            <textarea asp-for="Bio" class="form-control" rows="3" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)"></textarea>
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>

                        <!-- Date of Birth -->
                        <div class="form-group">
                            <label for="DateOfBirth">Date of Birth</label>
                            <input asp-for="DateOfBirth" type="datetime-local" id="DateOfBirth" class="form-control" required="@(isDisabled ? null : "required")"
                                   readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="PreferredEvents">Preferred Events</label>
                            <input asp-for="PreferredEvents" class="form-control" type="text" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="PreferredEvents" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="PreferredLocations">Preferred Locations</label>
                            <input asp-for="PreferredLocations" class="form-control" type="text" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="PreferredLocations" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="HourlyRate">Hourly Rate</label>
                            <input asp-for="HourlyRate" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="HourlyRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="HourRatinglyRate">Rating</label>
                            <input asp-for="Rating" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Specialization">Specialization</label>
                            <input asp-for="Specialization" class="form-control" type="text" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="Specialization" class="text-danger"></span>
                        </div>

                        <!-- Years of Experience -->
                        <div class="form-group">
                            <label for="YearsOfExperience">Years of Experience</label>
                            <input asp-for="YearsOfExperience" class="form-control" type="number" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)" />
                            <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                        </div>

                        <!-- Agency -->
                        <div class="form-group">
                            <label for="AgencyId">Select Agency</label>
                            <select asp-for="AgencyId" class="form-control" required="@(isDisabled ? null : "required")" readonly="@(isDisabled ? "readonly" : null)">
                                <option value="">-- Select Agency --</option>
                                @foreach (var agency in Model.Agencies!)
                                {
                                    <option value="@agency.Id">@agency.Name</option>
                                }
                            </select>
                            <span asp-validation-for="AgencyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-theme">@action Guide</button>
                        <a asp-area="Admin" asp-controller="AdminPhotographer" asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>