@model IEnumerable<Guide>
@{
    ViewData["Title"] = "Index";
}

<div class="entity-list">
    <h2>Guide List</h2>
    <div class="create-btn">
        <a asp-area="Admin" asp-controller="AdminGuide" asp-action="Create">Create Guide</a>
    </div>
    <div class="entity-row">
        <span class="name">FirstName</span>
        <span>Email</span>
        <span>ContactNumber</span>
        <span>DateOfBirth</span>
        <span>Address</span>
        <span>ProfilePicture</span>

        <!-- Buttons Section -->
        <div class="actions">
        </div>
    </div>
    @foreach (var guide in Model)
    {
        <div class="entity-row">
            <span class="name">@guide.FirstName</span>
            <span>@guide.Email</span>
            <span>@guide.ContactNumber</span>
            <span>@guide.DateOfBirth</span>
            <span>@guide.Address</span>
            <span>@guide.ProfilePicture</span>

            <!-- Buttons Section -->
            <div class="actions">
                <a asp-area="Admin" asp-controller="AdminGuide" asp-action="Update" asp-route-id="@guide.Id" class="update-btn">Update</a>
                <a asp-area="Admin" asp-controller="AdminGuide" asp-action="Delete" asp-route-id="@guide.Id" class="delete-btn">Delete</a>
            </div>
        </div>
    }
</div>
