@model ProfileUserModel
@{
    ViewData["Title"] = "Personal Info";
    TempData["Header"] = "MyAccount";
    var pass = "password";
}

<div class="card shadow-sm" style="max-width: 600px; margin: 20px auto; padding: 20px; border-radius: 10px;">
    <h1 class="card-title">@Model.FirstName @Model.LastName</h1>
    <h4 class="card-title">@Model.Email</h4>
    <form asp-antiforgery=true method="post" asp-action="PersonalInfo">
        <input asp-for="Id" hidden/>
        <input asp-for="Email" hidden/>
        <input asp-for="Password" value="@pass" hidden />
        <input asp-for="ConfirmPassword" value="@pass" hidden />
        <!-- Name Input -->
        <div class="form-group mb-3">
            <label for="FirstName" style="width:100%">
                First Name
                <input asp-for="FirstName" id="FirstName" class="form-control" 
                        />
            </label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label for="LastName" style="width:100%">
                Last Name
                <input asp-for="LastName" id="LastName" class="form-control" 
                        />
            </label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <!-- PhoneNumber Input -->
        <div class="form-group mb-3">
            <label for="PhoneNumber" style="width:100%">
                Phone Number
                <input asp-for="PhoneNumber" type="number" id="Email" class="form-control" 
                        />
            </label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <!-- Date of birth Input -->
        <div class="form-group mb-3">
            <label for="DateOfBirth" style="width:100%">
                Date of Birth
                <input asp-for="DateOfBirth" type="datetime-local" id="DateOfBirth" class="form-control" 
                        />
            </label>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <!-- Gender Input-->
        <div class="form-group mb-3">
            <label for="Gender" style="width:100%">
                Gender<br />
                <input asp-for="Gender" type="radio" value="male" checked id="Gender" class="form-check-input" 
                        />male
                <input asp-for="Gender" type="radio" value="female" id="Gender" class="form-check-input" 
                        />female
                <input asp-for="Gender" type="radio" value="others" id="Gender" class="form-check-input" 
                        />others
            </label>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
</div>

@section scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}