@using EasyTravel.Domain.Entites
@model HotelRoomViewModel
 

<div class="main">
    <div class="hotel-info">
        <div class="left">
            <img class="logo" src="https://www.logodesign.net/logo/buildings-with-house-roof-and-sun-778ld.png?nwm=1&nws=1&industry=hotel&sf=&txt_keyword=All" alt="@Model.Hotel.Name" title="@Model.Hotel.Name">
        </div>
        <div class="mid">
            <h2 class="name">@Model.Hotel.Name                   </h2>
            <p>   <i class="bi bi-geo-alt-fill"></i>    @Model.Hotel.Address </p>
            <p><i class="bi bi-telephone"></i>  @Model.Hotel.Phone</p>

        </div>
        <div class="right">
            <h3>  @Model.Hotel.Rating </h3>
            @await Html.PartialAsync("_Rating", Model.Hotel.Rating)
        </div>

    </div>
    <div class="cover-photo"> <img src="@Model.Hotel.Image"> </div>
    <p> Your comfort here  </p>
    <div class="section">
        <h2>Description</h2>
       <p> @Model.Hotel.Description </p>
    </div>
    <div>
        <h2>Rooms</h2>
        <p> All List of Rooms  </p>
        <h2>Available Rooms</h2>
        @if (Model.Rooms != null && Model.Rooms.Any())
        {

            <div class="container mx-auto mt-4">
                <div class="row">
                @foreach (var room in Model.Rooms)
                {
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="@room.Image1" class="card-img-top" alt="@room.RoomType" title="@Model.Hotel.Name">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @room.RoomType
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                   @(room.IsAvailable ? "Available" : "Not Available")
                                    </h6>
                                    <div>
                                        <span>Price Per Night: @room.PricePerNight </span>

                                    </div>
                                    <p class="card-text">
                                        @room.Description
                                    </p>
                                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="" class="btn btn-success btn-sm fw-bold text-dark">Details</a>
                                    <a asp-controller="Hotel" asp-action="HotelBooking" asp-route-hotelId="@Model.Hotel.Id" asp-route-roomId="@room.Id" class="btn btn-warning btn-sm fw-bold text-dark">Book</a>
                                </div>
                            </div>
                        </div>

                }
                </div>
            </div>
        }
        else
        {
            <p>No rooms available</p>
        }
        
        <a asp-action="Index">Back to List</a>
    </div>
    <div>
        <h2>Contact</h2>
        <p> <span>Mobile :</span> @Model.Hotel.Phone </p>
        <p> <span>email :</span>  @Model.Hotel.Email </p>
        <p>   <i class="bi bi-geo-alt-fill"></i>   @Model.Hotel.Address </p>
        <p><i class="bi bi-house"></i> @Model.Hotel.City</p>


    </div>
</div> 
